* {
    margin: 0;
    font-family: Roboto;
}

header {
    max-width: 800px;
    padding: 10px 0px 30px 0px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

svg {
    height: 40px;
    width: 40px;
    padding: 3px;
    background: #ef233bec;
    border-radius: 25px;
}

h1 {
    font-size: 20px;
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
}

li {
    padding: 10px;
    color: white;
    text-decoration: rgb(0, 0, 0, 0);
    text-underline-offset: 3px;
    transition: text-decoration-color 0.3s;
}

li:last-child {
    padding-right: 0px;
}

li:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

img {
    border-radius: 25px;
}

button {
    cursor: pointer;
    border-radius: 25px;
}

.first-half {
    color: white;
    background: #023047;
}

.first-half div {
    margin: 0px 150px;
}

.under-header {
    max-width: 800px;
    padding-bottom: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.under-header-sign-up {
    width: 350px;
}

.under-header-sign-up h1 {
    font-size: 1.8em;
    line-height: 1;
}

.under-header-sign-up p {
    margin: 15px 0px;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.754);
}

.under-header-sign-up button {
    padding: 10px 25px;
    border: none;
    font-size: 1em;
    color: white;
    background: #3a86ff;
    transition: background 0.3s;
}

.under-header-sign-up button:hover {
    background: #3a85ff6f;
}

.under-header-img {
    height: 200px;
    width: 350px;
    object-fit: cover;
    object-position: 100% 50%;
}

.random-info {
    width: 800px;
    padding-bottom: 80px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h2 {
    padding: 30px 0px;
    text-align: center;
}

.random-info img {
    height: 150px;
    width: 150px;
    margin-bottom: 5px;
    border: 3px #3a86ff solid;
    object-fit: cover;
    background-position: 100% 50%;
}

.random-info p {
    width: 150px;
    color: #0353bb;
    font-size: 0.9em;
    text-align: center;
}

.review-bg {
    background: #e5e5e5;
}

.review {
    width: 600px;
    padding: 80px;
    margin: auto;
}

.review p {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 300;
}

.review span {
    float: right;
    font-weight: bold;
}

.call-to-action-box {
    width: 600px;
    padding: 35px 80px;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: #3a86ff;
    border-radius: 25px;
}

.call-to-action-box h3 {
    font-size: 1.2em;
}

.call-to-action-box p {
    padding-top: 5px;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.684);
}

.call-to-action-box button {
    padding: 10px 30px;
    color: white;
    background: #3a86ff;
    border: 2px white solid;
    font-weight: bold;
    font-size: 1em;
    transition: background 0.3s;
}

.call-to-action-box button:hover {
    background: rgba(255, 255, 255, 0.271);
}

footer {
    padding: 10px;
    color: white;
    background: #023047;
    font-size: 0.8em;
    font-weight: 300;
    text-align: center;
}

@media (max-width: 917px) {
    svg {
        height: 20px;
        width: 20px;
    }

    li {
        font-size: 0.7em;
    }

    .under-header-sign-up {
        width: 200px;
    }

    .under-header-sign-up button {
        padding: 8px 12px;
        font-size: 0.7em;
    }

    .first-half div {
        margin: 0px 50px;
    }

    .first-half h1 {
        font-size: 1em;
    }

    .first-half p {
        font-size: 0.6em;
    }

    .first-half img {
        height: 150px;
        width: 200px;
    }

    .random-info {
        width: 80%;
    }

    .random-info img {
        height: 100px;
        width: 100px;
    }

    .random-info p {
        width: 100px;
        font-size: 0.8em;
        margin-bottom: 5px;
    }

    .review {
        width: 80%;
        padding: 10%;
    }

    .review p {
        font-size: 0.8em;
    }

    .review span {
        font-size: 0.8em;
    }

    .call-to-action-box {
        height: 100px;
        width: 90%;
        padding: 10px;
        justify-content: space-around;
    }

    .call-to-action-box h3 {
        font-size: 0.9em;
    }

    .call-to-action-box p {
        font-size: 0.8em;
    }

    .call-to-action-box button {
        font-size: 0.8em;
        padding: 5px 20px;
    }
}

@media (max-width: 550px) {
    .first-half img {
        height: 100px;
        width: 150px;
    }

    .random-info {
        width: 50%;
    }
}

@media (max-width: 476px) {
    .random-info {
        width: 30%;
        justify-content: center;
    }
}
